body{
    background-color: rgb(226, 223, 223);
}
.header{
    display:flex;
    background-color: #138597;
    padding: 30px;
    margin-bottom: 10px;
}
.name{
    margin-left: none;
    font-size: 4px;
    color: white;
}
#logo{
    margin-top:20px;
}
.header > button {
    width:100px;
    height:50px;
    background-color: grey;
    color:black;
    margin-left: 1000px;
    border-radius:5px;
}
#signIn{
    text-decoration:none;
    color:black;
}
.main{
    text-align: center;
    cursor:pointer;
}
.main > img{
    width:400px;
}
#buttons{
    color: white;
    display: flex;
}
#std, #admin, #job, #contact{
    margin-left: 150px;
    width:150px;
    border-radius: 5px;
    color: white;
    background-color: rgb(56, 52, 63);
}
.words{
    align-items: center;
}

